<!--<title> Forum </title>-->
<div class="nav">
    <div class="col-1"><a href="/">Home</a></div> <!-- 25% -->
    <div class="col-2"><a href="/forum">Forum</a></div> <!-- 75% -->
    <div class="col-3"><a href="/coming-soon">About</div>
    <div class="col-4"><a href="/wiki">Wiki</a></div>
    <div class="col-5"><a href="/petitions">Ideas</a></div>
</div>
<div style='float: right;'>
    <div><a href="/submit" > Create new post </a></div>
    <!--<a href="/forum">-->
    <!--<img src="http://www.iconarchive.com/download/i89250/icons8/ios7/Very-Basic-Reload.ico"-->
         <!--style="width:12px;height:12px;">-->
    <!--</a>-->
</div>


<section class="get">
    <div class="all-posts">
        {{# each items }}
            <article class="item">
                <a href="/forum/{{ this._id }}">
                    <div>
                        <h1>{{ this.title }}</h1>
                    </div>
                </a>
                <!--<div><p>{{ this.content }}</p></div>-->
                <div>Author: {{ this.author }}</div>
                <!--<div>ID: {{ this._id }}</div>-->
                <!--<div>Edit post: </div>-->
                <!--<form action="/remove" method="POST">-->
                    <!--<button name="id" value={{ this._id }}>Delete Post</button>-->
                <!--</form>-->
            </article>
            <br>
            <br>
        {{/each}}
    </div>
</section>

<section style='float: right;'>
    <a href="/submit"> Create new post </a>
</section>